@font-face {
  font-family: "b koodak";
  src: url("../fonts/BKoodakBold.eot?#") format("eot"),
    /* IE6–8 */ url("../fonts/BKoodakBold.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/BKoodakBold.ttf")
      format("truetype"); /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

html,
body,
#__next {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: "overlay";
  direction: rtl;
  font-family: "b koodak", Arial, Helvetica, sans-serif;
}

#__next {
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

.formik-error {
  color: red;
  font-size: 15px;
  /* position: absolute; */
  bottom: 0;
}

.rmdp-container {
  width: 100%;
}

.custom-scrollbars__content {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-scrollbars__content::-webkit-scrollbar {
  display: none;
}
